:root{
    --background: #FFFFFF;
    --text: black;
}





body {
    display: block;
    font-family: "Roboto", monospace;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
    color: var(--text)
}
nav{
    background-color: var(--background) ;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 80px;
    padding-top: 1%;
    position: fixed;
}
.logo{
    flex: 50%;
    margin-left: 70px;
    padding: 10px;
}
h1{
    font-size: xx-large;
    font-weight: 100;
}
.nav-link{
    flex: .4;
    align-self: center;
    font-size: 1.6rem;
}
.one {
    text-align:right;
    
}
.two{
    text-align: center;
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--text);
}
.three{
    text-align: left;
}
span:hover{
    background-color: black;
    border: 10px double black;
    color:white;
}